<%= form_with url: user_groups_path(user_id: current_user.id), model: group, method: :post, scope: :new_group do |form| %>

<header>
    <div class="title">
      <div ><%= link_to(:back) do %>
        <%= content_tag(:div) do %>
          <i class="material-icons">arrow_back</i>
        <% end %>
      <% end %></div>
      <div><h2>New Category</h2></div>
      <div><%= form.submit "Create" %></div>
    </div>
  </header>

<div class="form-body">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
      <%= form.file_field :icon %>
    </div>
  </div>
<% end %>